.left{
    width: 85px;
    height: 817.7px;
    background: #1A2036;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icons{
        width: 90%;
        height: 45%;
        background: #1A2036;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .biga{
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #242B42;
        }
        img{
            width: 50px;
            border-radius: 10px;
        }
        .manan{
            background: #1A2036;
        }
    }
}